<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My-blog</title>
</head>
<body>
    <h2>Welcome to my-blog app. Now you can share your thought with the world.</h2>
</body>
</html>